# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mxx2vxivhldb/public_html/visa-z.com/Python312"
PassengerBaseURI "/"
PassengerPython "/home/mxx2vxivhldb/virtualenv/public_html/visa-z.com/Python312/3.11/bin/python"
PassengerAppLogFile "/home/mxx2vxivhldb/public_html/visa-z.com/Python312/logs"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END